@media all and (max-width: 1170px) {
    .container {
        height: 80vh;
        background-image: url("../obrazy/man-2.jpg");
        background-size: cover;
        justify-content: flex-end;        
    }

    .header {
        top: 0;
    }

    h1 {
        font-size: 1.8em;
    }
    
    h2 {
        font-size: 1.4em;
    }
}

@media all and (max-width: 992px) {
    .container {
        height: 50vh;
        background-image: url("../obrazy/man-1.jpg");
        background-size: cover;
    }