* {
    /*wszystkie paddingi itd beda wliczone*/
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    text-align: center;
}

/* HELPERS */
/* przyciski */
.more {
    text-transform: uppercase;
    border: 2px solid #007bff;
    padding: 15px 20px;
    text-decoration: none;
    /* na dzialanie uzytkownika */
    transition: 0.4s;
    margin: 10px 0;
    display: inline-block;
}

.header {
    height: 70vh;
    display: flex;
    /*wycentrowanie w stosumku do diva, na osi x - justify-content; w stosunku do osi y - align-content*/
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-transform: uppercase;
    color: #007bff;
    font-size: 4.2em;
    margin: 16px 0;
}

h2 {
    text-transform: uppercase;
    color: #777;
    margin: 0;
    padding: 20px 0;
}

hr {
    width: 60px;
    border-color: #007bff;
}

.header p {
    text-transform: uppercase;
    font-size: 2em;
}

.header .java-script {
    text-transform: initial;
    color: #333;
}

/* alt sposob na zrobienie kreski pod tekstem Front-end developer
.header h1::after {
    content: '';
    display: block;
    width: 70px;
    background-color: #007bff;
    height: 2px;
    margin: auto;
}*/

.more {
    text-transform: uppercase;
    border: 2px solid #007bff;
    padding: 15px 20px;
    text-decoration: none;
    /*na dzialanie uzytkownika*/
    transition: 0.4s;
    margin-top: 10px;
    display: inline-block;
}

.more:hover {
    background-color: #007bff;
    color: #fff;

}

.header span {
    color: #007bff;
    margin: 0 5px;
}

.main-nav {
    background-color: #007bff;
    position: sticky;
    top: 0;
    padding: 5px 0;
    z-index: 999;
}

.main-nav label,
input[type="checkbox"] {
    display: none;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.main-nav ul li {
    margin: 0 10px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.4s;
}

.main-nav ul li a:hover {
    background-color: #fff;
    color: #007bff;
}

.about {
    padding: 40px 0;
}

.about figure {
    padding: 40px 0;
    margin: 0;
}

.about img {
    border-radius: 50%;
}

.about p {
    width: 70%;
    margin: 10px auto;
}

.portfolio {
    background-color: #f2f1ed;
    text-align: center;
    padding: 40px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 60px auto 0 auto;
}

.photo {
    height: 250px;
    flex-basis: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.photo-1 {
    background-image: url('../img/portfolio/photo-1.jpg');
}

.photo-2 {
    background-image: url('../img/portfolio/photo-2.jpg');
}

.photo-3 {
    background-image: url('../img/portfolio/photo-3.jpg');
}

.photo-4 {
    background-image: url('../img/portfolio/photo-4.jpg');
}

.photo-5 {
    background-image: url('../img/portfolio/photo-5.jpg');
}

.photo-6 {
    background-image: url('../img/portfolio/photo-6.jpg');
}

.photo-7 {
    background-image: url('../img/portfolio/photo-7.jpg');
}

.photo-8 {
    background-image: url('../img/portfolio/photo-8.jpg');
}

.photo-9 {
    background-image: url('../img/portfolio/photo-9.jpg');
}

.photo-10 {
    background-image: url('../img/portfolio/photo-10.jpg');
}

.photo-11 {
    background-image: url('../img/portfolio/photo-11.jpg');
}

.photo-12 {
    background-image: url('../img/portfolio/photo-12.jpg');
}

.mask {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 123, 255, 0.6);
    opacity: 0;
    transition: all 0.4s;
}

.photo:hover .mask {
    opacity: 1;
}

.photo p {
    text-transform: capitalize;
    font-size: 2em;
    color: #fff;
}

/* Kontakt start */
.contact {
    text-align: center;
}

.contact form {
    width: 40%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact form input {
    flex-basis: 49%;
}

.contact form textarea {
    flex-basis: 100%;
}

.contact form input,
.contact form textarea {
    padding: 10px;
    margin-bottom: 10px;
}

input[type=submit] {
    background-color: transparent;
    margin: auto;
}
/* Kontakt end */

.social-div a {
    color: #007bff;
    cursor: pointer;
    margin: 0 10px;
}

.social-div a:hover {
    color: #f2f1ed;
}

.footer {
    background-color: #f2f1ed;
    padding: 30px 0;
    display:flex;
    justify-content: flex;
    text-align: center;
}

